<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" />
    <title>Erreur</title>
    <style>
      html {
      width: 100%;
      height: 100%;
      }
  
      body {
          width: 100%;
          height: 100%;
          position: relative;
          background-color: rgb(236, 152, 42);
      }
  
      .center {
          width: 100%;
          height: 50%;
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          font-family: "Trebuchet MS", Helvetica, sans-serif;
          text-align: center;
      }
  
      h1 {
          font-size: 144px;
      }
  
      p {
          font-size: 64px;
      }
    </style>
  </head>

  <body>
    <div class="center">
      <h1>Error <%= code %></h1>
      <p><%= message %></p>
    </div>
    <% if (stack != null) { %>
    <pre><%= stack %></pre>
    <% } %>
  </body>
</html>